body {
  font-family: 'Muli', sans-serif;
  margin: 0;
  background: #fbfbfb;
  overflow: hidden;
  width: 100%;
  height: 100%;
}
html {
  overflow-x: hidden;
}
.container {
  max-width: 1240px;
  padding-right: 20px;
  padding-left: 20px;
  margin-right: auto;
  margin-left: auto;
}
@media (max-width: 575px) {
  .container {
    padding-right: 15px;
    padding-left: 15px;
  }
}
.container-big {
  max-width: 1440px;
}
h1,
h2,
h3,
h4,
h5,
h6,
ol,
ul,
p {
  margin: 0;
}
a {
  color: #000;
  -webkit-transition-duration: 0.3s;
  -moz-transition-duration: 0.3s;
  -ms-transition-duration: 0.3s;
  -o-transition-duration: 0.3s;
  transition-duration: 0.3s;
  text-decoration: none;
}
a a:hover {
  color: #003847;
}
ol,
ul {
  margin-bottom: 30px;
  padding-left: 18px;
}
ol li,
ul li {
  font-size: 16px;
  line-height: 22px;
  font-weight: 400;
}
p {
  font-size: 16px;
  line-height: 22px;
  font-weight: 400;
}
img {
  max-width: 100%;
  height: auto;
}
[class^="icon-"]:before,
[class*=" icon-"]:before {
  width: auto;
  height: auto;
  line-height: normal;
  margin-right: 0;
  margin-left: 0;
  opacity: 1;
}
.font-50 {
  font-size: 50px;
  line-height: 70px;
  font-weight: 500;
}
@media only screen and (max-width: 991px) {
  .font-50 {
    font-size: 40px;
    line-height: 54px;
  }
}
@media only screen and (max-width: 575px) {
  .font-50 {
    font-size: 38px;
    line-height: 44px;
  }
}
.font-34 {
  font-size: 34px;
  line-height: 40px;
  font-weight: 400;
}
@media only screen and (max-width: 767px) {
  .font-34 {
    font-size: 30px;
    line-height: 36px;
  }
}
@media only screen and (max-width: 575px) {
  .font-34 {
    font-size: 28px;
    line-height: 34px;
  }
}
.font-22 {
  font-size: 22px;
  line-height: 30px;
  font-weight: 400;
}
@media only screen and (max-width: 767px) {
  .font-22 {
    font-size: 20px;
    line-height: 26px;
  }
}
@media only screen and (max-width: 575px) {
  .font-22 {
    font-size: 18px;
    line-height: 24px;
  }
}
.font-18 {
  font-size: 18px;
  line-height: 24px;
  font-weight: 400;
}
.font-16 {
  font-size: 16px;
  line-height: 22px;
  font-weight: 400;
}
.font-14 {
  font-size: 14px;
  line-height: 20px;
  font-weight: 400;
}
.sub-title {
  text-align: center;
  text-transform: uppercase;
  font-weight: 500;
  margin-bottom: 40px;
}
@media only screen and (max-width: 767px) {
  .sub-title {
    margin-bottom: 30px;
  }
}
@media only screen and (max-width: 575px) {
  .sub-title {
    margin-bottom: 20px;
  }
}
.small-title {
  font-weight: 500;
  margin-bottom: 15px;
}
.bottom-line {
  position: relative;
}
.bottom-line::before {
  content: '';
  position: absolute;
  bottom: -2px;
  left: 50%;
  transform: translateX(-50%);
  width: 0;
  height: 2px;
  background-color: #003847;
  -webkit-transition-duration: 0.3s;
  -moz-transition-duration: 0.3s;
  -ms-transition-duration: 0.3s;
  -o-transition-duration: 0.3s;
  transition-duration: 0.3s;
}
.back-to-top {
  position: fixed;
  right: 7px;
  bottom: 7px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 45px;
  height: 45px;
  border-radius: 50%;
  background-color: #003847;
  -webkit-transition-duration: 0.3s;
  -moz-transition-duration: 0.3s;
  -ms-transition-duration: 0.3s;
  -o-transition-duration: 0.3s;
  transition-duration: 0.3s;
  z-index: -1;
  opacity: 0;
  pointer-events: none;
}
.back-to-top i {
  line-height: 45px;
}
.back-to-top i::before {
  font-size: 30px;
  line-height: 45px;
  color: #fff;
}
.back-to-top:hover {
  background-color: #004253;
}
.back-to-top-show {
  z-index: 99;
  opacity: 1;
  pointer-events: auto;
}
.default-bg {
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 100vh;
  width: 100%;
}
.padding-x-0 {
  padding: 50px 0;
}
@media only screen and (max-width: 991px) {
  .padding-x-0 {
    padding: 40px 0;
  }
}
@media only screen and (max-width: 767px) {
  .padding-x-0 {
    padding: 30px 0;
  }
}
@media only screen and (max-width: 575px) {
  .padding-x-0 {
    padding: 20px 0;
  }
}
.mask {
  position: relative;
}
.mask::before {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  content: '';
  background-color: rgba(0, 0, 0, 0.5);
}
.nav-fixed {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 99;
  padding: 10px 0;
  background-color: #fff;
  border-bottom: 1px transparent solid;
  -webkit-transition-duration: 1s;
  -moz-transition-duration: 1s;
  -ms-transition-duration: 1s;
  -o-transition-duration: 1s;
  transition-duration: 1s;
}
.nav-fixed-scroll {
  padding: 3px 0;
  border-color: #003847;
}
.navigation {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.navigation__logo-a {
  display: block;
  width: 100px;
}
@media only screen and (max-width: 575px) {
  .navigation__logo-a {
    width: 80px;
  }
}
.navigation__logo-a img {
  display: block;
}
@media only screen and (max-width: 767px) {
  .navigation__nav {
    display: flex;
    align-items: center;
  }
}
.navigation__nav-ul {
  display: flex;
  align-items: center;
  padding: 0;
  margin-bottom: 0;
}
@media only screen and (max-width: 767px) {
  .navigation__nav-ul {
    display: none;
  }
}
.navigation__nav-ul li {
  list-style: none;
  padding: 0 15px;
  margin: 0 10px;
}
@media only screen and (max-width: 991px) {
  .navigation__nav-ul li {
    padding: 0 10px;
    margin: 0 5px;
  }
}
.navigation__nav-ul li:first-child {
  margin-left: 0;
}
.navigation__nav-ul li:last-child {
  padding-right: 0;
  margin-right: 0;
}
.navigation__nav-ul li a {
  font-size: 18px;
  line-height: 24px;
  font-weight: 400;
  font-weight: 500;
  text-transform: uppercase;
  position: relative;
  display: block;
}
.navigation__nav-ul li a::before {
  content: '';
  position: absolute;
  bottom: -2px;
  left: 50%;
  transform: translateX(-50%);
  width: 0;
  height: 2px;
  background-color: #003847;
  -webkit-transition-duration: 0.3s;
  -moz-transition-duration: 0.3s;
  -ms-transition-duration: 0.3s;
  -o-transition-duration: 0.3s;
  transition-duration: 0.3s;
}
.navigation__nav-ul li.active a,
.navigation__nav-ul li:hover a {
  color: #003847;
}
.navigation__nav-ul li.active a::before,
.navigation__nav-ul li:hover a::before {
  width: 100%;
}
.navigation__nav-contact {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 30px;
}
@media only screen and (min-width: 768px) {
  .navigation__nav-contact {
    display: none;
  }
}
.navigation__nav-contact a {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 10px;
}
@media only screen and (max-width: 575px) {
  .navigation__nav-contact a {
    margin-right: 20px;
  }
}
.navigation__nav-contact a:last-of-type {
  margin-right: 0;
}
.navigation__nav-contact a i {
  margin-right: 5px;
}
.navigation__nav-contact a i::before {
  font-size: 20px;
  color: #003847;
}
@media only screen and (max-width: 575px) {
  .navigation__nav-contact a i::before {
    font-size: 26px;
  }
}
.navigation__nav-contact a p {
  color: #003847;
  font-size: 18px;
  line-height: 24px;
  font-weight: 400;
}
@media only screen and (max-width: 575px) {
  .navigation__nav-contact a p {
    display: none;
  }
}
.top-background {
  background-image: url("../images/top-background.jpg");
  position: relative;
}
.top-background::before {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  content: '';
  background-color: rgba(0, 0, 0, 0.5);
}
.top-background h1 {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  color: #fff;
  display: block;
  font-size: 50px;
  line-height: 70px;
  font-weight: 500;
  width: 95%;
  text-transform: uppercase;
}
@media only screen and (max-width: 991px) {
  .top-background h1 {
    font-size: 40px;
    line-height: 54px;
  }
}
@media only screen and (max-width: 575px) {
  .top-background h1 {
    font-size: 38px;
    line-height: 44px;
  }
}
.top-background h1 span {
  display: block;
}
@media only screen and (max-width: 575px) {
  .top-background h1 {
    padding: 15px 0;
  }
}
.informations p {
  margin-bottom: 20px;
}
.informations p:last-of-type {
  margin-bottom: 0;
}
.informations img {
  float: right;
  max-width: 45%;
  padding-left: 40px;
  padding-bottom: 30px;
}
@media only screen and (max-width: 575px) {
  .informations img {
    display: none;
  }
}
.gallery-inside {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 3px;
}
@media only screen and (max-width: 767px) {
  .gallery-inside {
    grid-template-columns: repeat(3, 1fr);
  }
}
@media only screen and (max-width: 379px) {
  .gallery-inside {
    grid-template-columns: repeat(2, 1fr);
  }
}
.gallery-inside a {
  display: block;
}
.gallery-inside a img {
  display: block;
  filter: brightness(0.8);
  -webkit-transition-duration: 0.3s;
  -moz-transition-duration: 0.3s;
  -ms-transition-duration: 0.3s;
  -o-transition-duration: 0.3s;
  transition-duration: 0.3s;
}
.gallery-inside a:hover img {
  filter: brightness(1);
}
.contact-background {
  background-image: url("../images/underwater.jpg");
  height: 400px;
  position: relative;
}
.contact-background::before {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  content: '';
  background-color: rgba(0, 0, 0, 0.5);
}
@media only screen and (max-width: 991px) {
  .contact-background {
    height: 300px;
  }
}
@media only screen and (max-width: 767px) {
  .contact-background {
    height: 400px;
  }
}
@media only screen and (max-width: 767px) {
  .contact-background {
    height: 350px;
  }
}
.contact-background-inside {
  position: absolute;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
  width: 100%;
  color: #fff;
  z-index: 2;
}
.contact-background-inside .contacts {
  display: flex;
  justify-content: space-around;
}
@media only screen and (max-width: 991px) {
  .contact-background-inside .contacts {
    justify-content: space-between;
  }
}
@media only screen and (max-width: 767px) {
  .contact-background-inside .contacts {
    flex-direction: column;
    align-items: center;
  }
}
.contact-background-inside .contacts a {
  color: #fff;
  text-align: center;
  width: 200px;
}
@media only screen and (max-width: 767px) {
  .contact-background-inside .contacts a {
    margin-bottom: 15px;
  }
  .contact-background-inside .contacts a:last-of-type {
    margin-bottom: 0;
  }
}
.contact-background-inside .contacts a i {
  display: block;
  margin-bottom: 0px;
}
.contact-background-inside .contacts a i::before {
  font-size: 50px;
}
@media only screen and (max-width: 991px) {
  .contact-background-inside .contacts a i::before {
    font-size: 44px;
  }
}
@media only screen and (max-width: 991px) {
  .contact-background-inside .contacts a i::before {
    font-size: 34px;
  }
}
.contact-background-inside .contacts a h3 {
  font-size: 22px;
  line-height: 30px;
  font-weight: 400;
  font-weight: 300;
}
@media only screen and (max-width: 767px) {
  .contact-background-inside .contacts a h3 {
    font-size: 20px;
    line-height: 26px;
  }
}
@media only screen and (max-width: 575px) {
  .contact-background-inside .contacts a h3 {
    font-size: 18px;
    line-height: 24px;
  }
}
.contact-background-inside .contacts a:hover {
  color: #EBF4FF;
}
.footer {
  background-color: #012837;
  position: relative;
  margin-top: -4px;
}
.footer p {
  color: #fff;
  padding: 20px;
  text-align: center;
}
.hamburger {
  min-width: 40px;
  height: 27px;
  position: relative;
  cursor: pointer;
}
@media only screen and (min-width: 768px) {
  .hamburger {
    display: none;
  }
}
.hamburger span {
  position: absolute;
  left: 0;
  content: '';
  display: block;
  width: 100%;
  height: 4px;
  background-color: #003847;
  border-radius: 5px;
  -webkit-transition-duration: 0.3s;
  -moz-transition-duration: 0.3s;
  -ms-transition-duration: 0.3s;
  -o-transition-duration: 0.3s;
  transition-duration: 0.3s;
}
.hamburger span:nth-of-type(1) {
  top: 0;
}
.hamburger span:nth-of-type(2) {
  top: 11px;
}
.hamburger span:nth-of-type(3) {
  bottom: 0;
}
.hamburger.open span:nth-of-type(1) {
  top: 11px;
  transform: rotate(45deg);
}
.hamburger.open span:nth-of-type(2) {
  width: 0;
}
.hamburger.open span:nth-of-type(3) {
  bottom: 11px;
  transform: rotate(-45deg);
}
.rwd-menu {
  position: fixed;
  top: 0;
  right: -400px;
  z-index: 97;
  height: 100%;
  min-height: 100%;
  padding: 0 50px;
  background-color: #fff;
  -webkit-box-shadow: 3px 5px 6px rgba(0, 0, 0, 0);
  -moz-box-shadow: 3px 5px 6px rgba(0, 0, 0, 0);
  -ms-box-shadow: 3px 5px 6px rgba(0, 0, 0, 0);
  -o-box-shadow: 3px 5px 6px rgba(0, 0, 0, 0);
  box-shadow: 3px 5px 6px rgba(0, 0, 0, 0);
  -webkit-transition-duration: 0.3s;
  -moz-transition-duration: 0.3s;
  -ms-transition-duration: 0.3s;
  -o-transition-duration: 0.3s;
  transition-duration: 0.3s;
}
.rwd-menu-ul {
  margin-top: 120px;
  margin-bottom: 0;
  padding: 0;
  list-style-type: none;
}
.rwd-menu-ul li {
  margin-bottom: 15px;
  text-align: center;
}
.rwd-menu-ul li:last-of-type {
  margin-bottom: 0;
}
.rwd-menu-ul li a {
  font-size: 18px;
  line-height: 24px;
  font-weight: 400;
  position: relative;
  text-transform: uppercase;
}
.rwd-menu-ul li a::before {
  content: '';
  position: absolute;
  bottom: -2px;
  left: 50%;
  transform: translateX(-50%);
  width: 0;
  height: 2px;
  background-color: #003847;
  -webkit-transition-duration: 0.3s;
  -moz-transition-duration: 0.3s;
  -ms-transition-duration: 0.3s;
  -o-transition-duration: 0.3s;
  transition-duration: 0.3s;
}
.rwd-menu-ul li.active a,
.rwd-menu-ul li:hover a {
  color: #003847;
}
.rwd-menu-ul li.active a::before,
.rwd-menu-ul li:hover a::before {
  width: 100%;
}
.rwd-menu.open {
  right: 0;
  -webkit-box-shadow: -3px -5px 6px rgba(0, 0, 0, 0.15);
  -moz-box-shadow: -3px -5px 6px rgba(0, 0, 0, 0.15);
  -ms-box-shadow: -3px -5px 6px rgba(0, 0, 0, 0.15);
  -o-box-shadow: -3px -5px 6px rgba(0, 0, 0, 0.15);
  box-shadow: -3px -5px 6px rgba(0, 0, 0, 0.15);
}
.baguetteBox-button g,
.baguetteBox-button g,
.baguetteBox-button polyline,
.baguetteBox-button polyline {
  stroke: #fff;
}
.cookies {
  position: fixed;
  bottom: 0;
  left: 0;
  background-color: #fff;
  margin: 0;
  padding: 20px 0;
  width: 100%;
  display: none;
  z-index: 99;
}
@media only screen and (max-width: 575px) {
  .cookies {
    padding: 15px 0;
  }
}
.cookies p {
  font-size: 14px;
  line-height: 20px;
  font-weight: 400;
}
.cookies p a:hover {
  color: #003847;
}
.cookies .cookies-img {
  width: 40px;
  min-width: 40px;
  margin-right: 30px;
}
@media only screen and (max-width: 991px) {
  .cookies .cookies-img {
    margin-right: 15px;
  }
}
@media only screen and (max-width: 575px) {
  .cookies .cookies-img {
    width: 35px;
    min-width: 35px;
  }
}
.cookies__content {
  display: flex;
}
.cookies__content-left {
  display: flex;
  align-items: flex-start;
}
.cookies__content-right {
  min-width: 30px;
  width: 30px;
}
.cookies__content-right i {
  display: block;
  cursor: pointer;
}
.cookies__content-right i:hover::before {
  color: #004253;
}
.cookies__content-right i::before {
  display: block;
  font-size: 30px;
  -webkit-transition-duration: 0.3s;
  -moz-transition-duration: 0.3s;
  -ms-transition-duration: 0.3s;
  -o-transition-duration: 0.3s;
  transition-duration: 0.3s;
  color: #003847;
}
