.root {
  --green-dark: #33CC00;
  --green-light: #7ED956;
  --dark-background: #003B00;
  --color-grey: #8a8fa3;
  --color-light: #fff;
  --color-dark: #000;
  --bg-color: #fbfbfb;
  --border-color: #ddd;
}